---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Frühwarnung" description='Schülerzeitung an der HTL Villach'>
	<!-- Hosted & Published by Tobias Kendlbacher -->
	<main class="w-full h-full">
		<iframe src="/01_ausgabe.pdf" frameborder="0" class="border-none w-full h-full"></iframe>
	</main>
	<script>console.log("Hosted & Published by Tobias Kendlbacher");</script>
</Layout>
